{% extends '@layout/default.html.twig' %}

{% block title %}Manage admins{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Manage admins</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="tableToolbar" class="btn-group">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>

                    <table data-toggle="table" data-url="{{ path('user', {'action':'list'}) ~ '?output=json' }}"
                           data-id-field="id" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                           data-search="true" data-pagination="true" data-toolbar="#tableToolbar"
                           data-side-pagination="server" data-page-list="[10, 30, 50, 100]"
                           data-sort-name="dateCreated" data-sort-order="desc">
                        <thead>

                            <tr>
                                <th data-field="id" data-checkbox="true" >Id</th>
                                <th data-field="username"  data-sortable="true">Username</th>
                                <th data-field="email"  data-sortable="true">E-mail</th>
                                <th data-field="firstName" data-sortable="true">First Name</th>
                                <th data-field="lastName" data-sortable="true">Last Name</th>
                                <th data-field="role" data-sortable="true">Role</th>
                                <th data-field="status" data-sortable="true">Status</th>
                                <th data-field="dateCreated" data-sortable="true">Created</th>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

{% endblock %}