{% extends '@layout/default.html.twig' %}

{% if showLabels is not defined %}
    {% set showLabels = false %}
{% endif %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">

            <div class="login-panel panel panel-default">
                <div class="panel-heading">Sign In</div>
                <div class="panel-body">

                    {{ flashMessagesPartial('dot-partial::alerts') }}

                    {% set dummy = form.setAttribute('method', 'post') %}
                    {% set dummy = form.prepare() %}

                    {{ form().openTag(form) | raw }}
                    {% include '@dot-form/form.html.twig' with {'form' : form, 'showLabels' : showLabels} only %}
                    {{ form().closeTag() | raw }}

                    {% if passwordRecoveryEnabled is defined and passwordRecoveryEnabled %}
                        <div style="margin-top: 5px;">
                            <a href="{{ path('user', {'action':'forgot-password'}) }}">Forgot Password?</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
