@use "../mixins/generateResponsive";
@use "../utils/center";

// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Variables
// + @Flex Wrap
// + @Flex Direction
// + @Flex
// + @Flex Basis
// + @Flex Grow
// + @Flex Shrink
// + @Flex Order

// ---------------------------------------------------------
// @Variables
// ---------------------------------------------------------

center.$responsive: true;

// ---------------------------------------------------------
// @Display
// ---------------------------------------------------------

.d-f     { display: flex; }
.d-if    { display: inline-flex; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .d-f\@#{generateResponsive.$breakpointAlias}     { display: flex; }
    .d-if\@#{generateResponsive.$breakpointAlias}    { display: inline-flex; }
  }
}

// ---------------------------------------------------------
// @Flex Wrap
// ---------------------------------------------------------

.fxw-w   { flex-wrap: wrap; }
.fxw-wr  { flex-wrap: wrap-reverse; }
.fxw-nw  { flex-wrap: nowrap; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .fxw-w\@#{generateResponsive.$breakpointAlias}   { flex-wrap: wrap; }
    .fxw-wr\@#{generateResponsive.$breakpointAlias}  { flex-wrap: wrap-reverse; }
    .fxw-nw\@#{generateResponsive.$breakpointAlias}  { flex-wrap: nowrap; }
  }
}

// ---------------------------------------------------------
// @Flex Direction
// ---------------------------------------------------------

.fxd-c   { flex-direction: column; }
.fxd-cr  { flex-direction: column-reverse; }
.fxd-r   { flex-direction: row; }
.fxd-rr  { flex-direction: row-reverse; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .fxd-c\@#{generateResponsive.$breakpointAlias}   { flex-direction: column; }
    .fxd-cr\@#{generateResponsive.$breakpointAlias}  { flex-direction: column-reverse; }
    .fxd-r\@#{generateResponsive.$breakpointAlias}   { flex-direction: row; }
    .fxd-rr\@#{generateResponsive.$breakpointAlias}  { flex-direction: row-reverse; }
  }
}

// ---------------------------------------------------------
// @Align Items
// ---------------------------------------------------------

.ai-fs   { align-items: flex-start; }
.ai-fe   { align-items: flex-end; }
.ai-c    { align-items: center; }
.ai-b    { align-items: baseline; }
.ai-s    { align-items: stretch; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .ai-fs\@#{generateResponsive.$breakpointAlias}   { align-items: flex-start; }
    .ai-fe\@#{generateResponsive.$breakpointAlias}   { align-items: flex-end; }
    .ai-c\@#{generateResponsive.$breakpointAlias}    { align-items: center; }
    .ai-b\@#{generateResponsive.$breakpointAlias}    { align-items: baseline; }
    .ai-s\@#{generateResponsive.$breakpointAlias}    { align-items: stretch; }
  }
}

// ---------------------------------------------------------
// @Align Self
// ---------------------------------------------------------

.as-fs   { align-self: flex-start; }
.as-fe   { align-self: flex-end; }
.as-c    { align-self: center; }
.as-b    { align-self: baseline; }
.as-s    { align-self: stretch; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .as-fs\@#{generateResponsive.$breakpointAlias}   { align-self: flex-start; }
    .as-fe\@#{generateResponsive.$breakpointAlias}   { align-self: flex-end; }
    .as-c\@#{generateResponsive.$breakpointAlias}    { align-self: center; }
    .as-b\@#{generateResponsive.$breakpointAlias}    { align-self: baseline; }
    .as-s\@#{generateResponsive.$breakpointAlias}    { align-self: stretch; }
  }
}

// ---------------------------------------------------------
// @Align Content
// ---------------------------------------------------------

.ac-fs   { align-content: flex-start; }
.ac-fe   { align-content: flex-end; }
.ac-c    { align-content: center; }
.ac-s    { align-content: stretch; }
.ac-sb   { align-content: space-between; }
.ac-sa   { align-content: space-around; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .ac-fs\@#{generateResponsive.$breakpointAlias}   { align-content: flex-start; }
    .ac-fe\@#{generateResponsive.$breakpointAlias}   { align-content: flex-end; }
    .ac-c\@#{generateResponsive.$breakpointAlias}    { align-content: center; }
    .ac-s\@#{generateResponsive.$breakpointAlias}    { align-content: stretch; }
    .ac-sb\@#{generateResponsive.$breakpointAlias}   { align-content: space-between; }
    .ac-sa\@#{generateResponsive.$breakpointAlias}   { align-content: space-around; }
  }
}

// ---------------------------------------------------------
// @Justify Content
// ---------------------------------------------------------

.jc-fs   { justify-content: flex-start; }
.jc-fe   { justify-content: flex-end; }
.jc-c    { justify-content: center; }
.jc-sb   { justify-content: space-between; }
.jc-sa   { justify-content: space-around; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .jc-fs\@#{generateResponsive.$breakpointAlias}   { justify-content: flex-start; }
    .jc-fe\@#{generateResponsive.$breakpointAlias}   { justify-content: flex-end; }
    .jc-c\@#{generateResponsive.$breakpointAlias}    { justify-content: center; }
    .jc-sb\@#{generateResponsive.$breakpointAlias}   { justify-content: space-between; }
    .jc-sa\@#{generateResponsive.$breakpointAlias}   { justify-content: space-around; }
  }
}

// ---------------------------------------------------------
// @Flex
// ---------------------------------------------------------

.fx-n    { flex: none; }
.fx-1    { flex: 1; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .fx-n\@#{generateResponsive.$breakpointAlias}    { flex: none; }
    .fx-1\@#{generateResponsive.$breakpointAlias}    { flex: 1; }
  }
}

// ---------------------------------------------------------
// @Flex Basis
// ---------------------------------------------------------

.fxb-a   { flex-basis: auto; }
.fxb-0   { flex-basis: 0; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .fxb-a\@#{generateResponsive.$breakpointAlias}   { flex-basis: auto; }
    .fxb-0\@#{generateResponsive.$breakpointAlias}   { flex-basis: 0; }
  }
}

// ---------------------------------------------------------
// @Flex Grow
// ---------------------------------------------------------

.fxg-1   { flex-grow: 1; }
.fxg-0   { flex-grow: 0; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .fxg-1\@#{generateResponsive.$breakpointAlias}   { flex-grow: 1; }
    .fxg-0\@#{generateResponsive.$breakpointAlias}   { flex-grow: 0; }
  }
}

// ---------------------------------------------------------
// @Flex Shrink
// ---------------------------------------------------------

.fxs-1   { flex-shrink: 1; }
.fxs-0   { flex-shrink: 0; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .fxs-1\@#{generateResponsive.$breakpointAlias}   { flex-shrink: 1; }
    .fxs-0\@#{generateResponsive.$breakpointAlias}   { flex-shrink: 0; }
  }
}

// ---------------------------------------------------------
// @Flex Order
// ---------------------------------------------------------

@for $i from 0 through 12 {
  .ord-#{$i} { order: $i; }

  @if (center.$responsive == true) {
    @include generateResponsive.generateResponsive() {
      .ord-#{$i}\@#{generateResponsive.$breakpointAlias} { order: $i; }
    }
  }
}
