@use "../mixins/generateResponsive";
@use "../utils/center";

// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Variables
// + @Margin (0 > 4 Step 1)
// + @Margin (5 > 35 Step 5)
// + @Margin (40 > 160 Step 10)
// + @Margin Auto

// ---------------------------------------------------------
// @Variables
// ---------------------------------------------------------

center.$responsive: true;

// ---------------------------------------------------------
// @Padding (0 > 4 Step 1)
// ---------------------------------------------------------

@for $i from 0 through 4 {
  .m-#{$i}  { margin: #{$i}px !important; }
  .mT-#{$i} { margin-top: #{$i}px !important; }
  .mR-#{$i} { margin-right: #{$i}px !important; }
  .mB-#{$i} { margin-bottom: #{$i}px !important; }
  .mL-#{$i} { margin-left: #{$i}px !important; }

  .mY-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }

  .mX-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }

  .m-nv-#{$i}  { margin: -#{$i}px !important; }
  .mT-nv-#{$i} { margin-top: -#{$i}px !important; }
  .mR-nv-#{$i} { margin-right: -#{$i}px !important; }
  .mB-nv-#{$i} { margin-bottom:- #{$i}px !important; }
  .mL-nv-#{$i} { margin-left: -#{$i}px !important; }

  .mY-nv-#{$i} {
    margin-top: -#{$i}px !important;
    margin-bottom: -#{$i}px !important;
  }

  .mX-nv-#{$i} {
    margin-left: -#{$i}px !important;
    margin-right: -#{$i}px !important;
  }

  @if (center.$responsive == true) {
    @include generateResponsive.generateResponsive() {
      .m-#{$i}\@#{generateResponsive.$breakpointAlias}  { margin: #{$i}px !important; }
      .mT-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-top: #{$i}px !important; }
      .mR-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-right: #{$i}px !important; }
      .mB-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-bottom: #{$i}px !important; }
      .mL-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-left: #{$i}px !important; }

      .mY-#{$i}\@#{generateResponsive.$breakpointAlias} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
      }

      .mX-#{$i}\@#{generateResponsive.$breakpointAlias} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
      }

      .m-nv-#{$i}\@#{generateResponsive.$breakpointAlias}  { margin: -#{$i}px !important; }
      .mT-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-top: -#{$i}px !important; }
      .mR-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-right: -#{$i}px !important; }
      .mB-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-bottom: -#{$i}px !important; }
      .mL-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-left: -#{$i}px !important; }

      .mY-nv-#{$i}\@#{generateResponsive.$breakpointAlias} {
        margin-top: -#{$i}px !important;
        margin-bottom: -#{$i}px !important;
      }

      .mX-nv-#{$i}\@#{generateResponsive.$breakpointAlias} {
        margin-left: -#{$i}px !important;
        margin-right: -#{$i}px !important;
      }
    }
  }
}

// ---------------------------------------------------------
// @Padding (5 > 35 Step 5)
// ---------------------------------------------------------

@for $i from 5 through 35 {
  @if $i % 5 == 0 {
    .m-#{$i}  { margin: #{$i}px !important; }
    .mT-#{$i} { margin-top: #{$i}px !important; }
    .mR-#{$i} { margin-right: #{$i}px !important; }
    .mB-#{$i} { margin-bottom: #{$i}px !important; }
    .mL-#{$i} { margin-left: #{$i}px !important; }

    .mY-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }

    .mX-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }

    .m-nv-#{$i}  { margin: -#{$i}px !important; }
    .mT-nv-#{$i} { margin-top: -#{$i}px !important; }
    .mR-nv-#{$i} { margin-right: -#{$i}px !important; }
    .mB-nv-#{$i} { margin-bottom: -#{$i}px !important; }
    .mL-nv-#{$i} { margin-left: -#{$i}px !important; }

    .mY-nv-#{$i} {
      margin-top: -#{$i}px !important;
      margin-bottom: -#{$i}px !important;
    }

    .mX-nv-#{$i} {
      margin-left: -#{$i}px !important;
      margin-right: -#{$i}px !important;
    }

    @if (center.$responsive == true) {
      @include generateResponsive.generateResponsive() {
        .m-#{$i}\@#{generateResponsive.$breakpointAlias}  { margin: #{$i}px !important; }
        .mT-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-top: #{$i}px !important; }
        .mR-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-right: #{$i}px !important; }
        .mB-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-bottom: #{$i}px !important; }
        .mL-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-left: #{$i}px !important; }

        .mY-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-top: #{$i}px !important;
          margin-bottom: #{$i}px !important;
        }

        .mX-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-left: #{$i}px !important;
          margin-right: #{$i}px !important;
        }

        .m-nv-#{$i}\@#{generateResponsive.$breakpointAlias}  { margin: -#{$i}px !important; }
        .mT-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-top: -#{$i}px !important; }
        .mR-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-right: -#{$i}px !important; }
        .mB-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-bottom: -#{$i}px !important; }
        .mL-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-left: -#{$i}px !important; }

        .mY-nv-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-top: -#{$i}px !important;
          margin-bottom: -#{$i}px !important;
        }

        .mX-nv-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-left: -#{$i}px !important;
          margin-right: -#{$i}px !important;
        }
      }
    }
  }
}

// ---------------------------------------------------------
// @Padding (40 > 160 Step 10)
// ---------------------------------------------------------

@for $i from 40 through 160 {
  @if $i % 10 == 0 {

    .m-#{$i}  { margin: #{$i}px !important; }
    .mT-#{$i} { margin-top: #{$i}px !important; }
    .mR-#{$i} { margin-right: #{$i}px !important; }
    .mB-#{$i} { margin-bottom: #{$i}px !important; }
    .mL-#{$i} { margin-left: #{$i}px !important; }

    .mY-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }

    .mX-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }

    .m-nv-#{$i}  { margin: -#{$i}px !important; }
    .mT-nv-#{$i} { margin-top: -#{$i}px !important; }
    .mR-nv-#{$i} { margin-right: -#{$i}px !important; }
    .mB-nv-#{$i} { margin-bottom: -#{$i}px !important; }
    .mL-nv-#{$i} { margin-left: -#{$i}px !important; }

    .mY-nv-#{$i} {
      margin-top: -#{$i}px !important;
      margin-bottom: -#{$i}px !important;
    }

    .mX-nv-#{$i} {
      margin-left: -#{$i}px !important;
      margin-right: -#{$i}px !important;
    }

    @if (center.$responsive == true) {
      @include generateResponsive.generateResponsive() {
        .m-#{$i}\@#{generateResponsive.$breakpointAlias}  { margin: #{$i}px !important; }
        .mT-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-top: #{$i}px !important; }
        .mR-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-right: #{$i}px !important; }
        .mB-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-bottom: #{$i}px !important; }
        .mL-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-left: #{$i}px !important; }

        .mY-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-top: #{$i}px !important;
          margin-bottom: #{$i}px !important;
        }

        .mX-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-left: #{$i}px !important;
          margin-right: #{$i}px !important;
        }

        .m-nv-#{$i}\@#{generateResponsive.$breakpointAlias}  { margin: -#{$i}px !important; }
        .mT-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-top: -#{$i}px !important; }
        .mR-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-right: -#{$i}px !important; }
        .mB-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-bottom: -#{$i}px !important; }
        .mL-nv-#{$i}\@#{generateResponsive.$breakpointAlias} { margin-left: -#{$i}px !important; }

        .mY-nv-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-top: -#{$i}px !important;
          margin-bottom: -#{$i}px !important;
        }

        .mX-nv-#{$i}\@#{generateResponsive.$breakpointAlias} {
          margin-left: -#{$i}px !important;
          margin-right: -#{$i}px !important;
        }
      }
    }
  }
}

// ---------------------------------------------------------
// @Padding Auto
// ---------------------------------------------------------

.m-a  { margin: auto !important; }
.mX-a { margin-left: auto !important; margin-right: auto !important; }
.mT-a { margin-top: auto !important; }
.mR-a { margin-right: auto !important; }
.mB-a { margin-bottom: auto !important; }
.mL-a { margin-left: auto !important; }

@if (center.$responsive == true) {
  @include generateResponsive.generateResponsive() {
    .m-a\@#{generateResponsive.$breakpointAlias}  { margin: auto !important; }
    .mX-a\@#{generateResponsive.$breakpointAlias} { margin-left: auto !important; margin-right: auto !important; }
    .mT-a\@#{generateResponsive.$breakpointAlias} { margin-top: auto !important; }
    .mR-a\@#{generateResponsive.$breakpointAlias} { margin-right: auto !important; }
    .mB-a\@#{generateResponsive.$breakpointAlias} { margin-bottom: auto !important; }
    .mL-a\@#{generateResponsive.$breakpointAlias} { margin-left: auto !important; }
  }
}
