{% extends '@layout/main.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
    <div class="page-intro home-intro error-messages">
        <div class="container">
            <h2>Oops!</h2>
            <h2>This is awkward.</h2>
            <h3 class="message">You don't have enough permissions to access the requested content!</h3>
            <p>
                You are looking for something that doesn't exist or may have moved. Check out one of the links on this page
                or head back to <a href="{{ path('dashboard') }}">Dashboard</a>.
            </p>
        </div>
    </div>
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
        <div class="mR-60">
            <img alt="#" src="{{ asset('images/app/404.png') }}">
        </div>
        <div class="d-f jc-c fxd-c">
            <h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:60px">403</h1>
            <h3 class="mB-10 fsz-lg c-grey-900 tt-c">Oops!</h3>
            <p class="fsz-def c-grey-700">You don't have enough permissions to access the requested content!</p>
            <p class="fsz-def c-grey-700">You are looking for something that doesn't exist or may have moved.
                Check out one of the links on this page or head back to
                <a href="{{ path('dashboard') }}">Dashboard</a>.
            </p>
            <div>
                <a href="{{ path('dashboard') }}" type="primary" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>
{% endblock %}
