{% extends '@layout/main.html.twig' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
        <div class="mR-60">
            <img alt="#" src="{{ asset('images/app/404.png') }}">
        </div>
        <div class="d-f jc-c fxd-c">
            <h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:60px">500</h1>
            <h3 class="fsz-lg c-grey-900 tt-c">Oops!</h3>
            <p class="fsz-def c-grey-700">
                This is awkward.
            </p>
            <p class="fsz-def c-grey-900 fsz-lg">
                500
                Internal Server Error
            </p>
            <div>
                <a href="{{ path('dashboard') }}" type="primary" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>
{% endblock %}
