<ul class="user-menu navbar-nav ml-auto ">
    <div class="notification">
        <i class="fa fa-bell"></i>
        <div class="notes_no">
            2
        </div>
        <div class="notis-container">
            <div class="title">
                <div class="arrow-top">&nbsp;</div>
                Notifications
            </div>
            <div class="nano nano-note">
                <ul class="content nano-content">
                    <li class="error unseen">
                        <p class="note-title">Notification 1 unseen</p>
                        <div class="note-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nunc sit amet lorem viverra,
                        </div>
                    </li>
                    <li class=" warning unseen">
                        <p class="note-title">Notification 2 unseen</p>
                        <div class="note-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nunc sit amet lorem viverra,
                        </div>
                    </li>
                    <li class="seen">
                        <p class="note-title">Notification 3 seen</p>
                        <div class="note-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nunc sit amet lorem viverra,
                        </div>
                    </li>
                    <li class="error seen">
                        <p class="note-title">Notification 4 seen</p>
                        <div class="note-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nunc sit amet lorem viverra,
                        </div>
                    </li>
                    <li class="seen">
                        <p class="note-title">Notification 5</p>
                        <div class="note-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nunc sit amet lorem viverra,
                        </div>
                    </li>
                    <li class="warning seen">
                        <p class="note-title">Notification 6</p>
                        <div class="note-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nunc sit amet lorem viverra,
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <li class="nav-item dropdown float-right">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
            <i class="fa fa-user-o user-icon"></i>
            <span class="user-message">Welcome, {{ getIdentity().getIdentity() }}</span> <i class="fas fa-angle-down"></i></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for page in container %}
                {% if navigation.isAllowed(page) %}
                    <a class="dropdown-item" href="{{ navigation.getHref(page) }}"><i class="{{ page.getOption('icon') }}"></i>
                        {{ page.getOption('label') }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
</ul>
