<div class="card">
    <div class="layers">
        <div class="card-header">Quick Chat</div>
        <div class="card-body w-100 bgc-grey-200">
            <!-- Chat Conversation -->
            <div class="peers fxw-nw">
                <div class="peer">
                    <img class="rounded-circle" src="https://via.placeholder.com/100?text=DotKernel" alt=""
                    width="60px">
                </div>
                <div class="peer peer-greed">
                    <div class="layers-chat ai-fs">
                        <div class="layer-chat">
                            <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                <div class="peer mr-1">
                                    <small>10:00 AM</small>
                                </div>
                                <div class="peer-greed">
                                    <span>Lorem Ipsum is simply dummy text of</span>
                                </div>
                            </div>
                        </div>
                        <div class="layer-chat">
                            <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                <div class="peer mR-10">
                                    <small>10:00 AM</small>
                                </div>
                                <div class="peer-greed">
                                    <span>the printing and typesetting industry.</span>
                                </div>
                            </div>
                        </div>
                        <div class="layer-chat">
                            <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                <div class="peer mR-10">
                                    <small>10:00 AM</small>
                                </div>
                                <div class="peer-greed">
                                    <span>Lorem Ipsum has been the industry's</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Conversation -->
            <div class="peers fxw-nw ai-fe">
                <div class="peer ord-1">
                    <img class="rounded-circle" src="https://via.placeholder.com/100?text=DotKernel" alt=""
                    width="60px">
                </div>
                <div class="peer peer-greed ord-0 end-chat">
                    <div class="layers-chat ai-fe">
                        <div class="layer-chat">
                            <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                <div class="peer mL-10 ord-1">
                                    <small>10:00 AM</small>
                                </div>
                                <div class="peer-greed ord-0">
                                    <span>Heloo</span>
                                </div>
                            </div>
                        </div>
                        <div class="layer-chat">
                            <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                <div class="peer mL-10 ord-1">
                                    <small>10:00 AM</small>
                                </div>
                                <div class="peer-greed ord-0">
                                    <span>??</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Send -->
        <div class="p-20 bdT bgc-white">
            <div class="pos-r">
                <input type="text" class="chat-form-control bdrs-10em m-0 input-custom-border" placeholder="Say something...">
                <button type="button" class="btn btn-primary rounded-circle button-send-chat">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>