<div class="card card-blue">
    <div class="card-header dark-overlay">
        <svg class="glyph stroked clipboard-with-paper">
            <use xlink:href="#stroked-clipboard-with-paper"></use>
        </svg>
        To-do List
    </div>
    <div class="card-body">
        <ul class="todo-list">
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Make a plan for today</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Update Basecamp</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Do some work</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Send email to John</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Send email to Jane</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Drink coffee</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Do some work</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            <li class="todo-list-item">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox"/>
                    <label class="form-check-label" for="checkbox">Tidy up workspace</label>
                </div>
                <div class="action-buttons">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="flag"><i class="fas fa-flag"></i></a>
                    <a href="#" class="trash"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <div class="input-group">
            <input id="btn-input-task" type="text" class="form-control input-md" placeholder="Add new task"/>
            <span class="input-group-btn">
								<button class="btn btn-primary btn-md btn-custom-style" id="btn-todo">Add</button>
							</span>
        </div>
    </div>
</div>
