<div class="modal fade" tabindex="-1" role="dialog" id="modalAlert" aria-labelledby="modalAlert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <i id="modalAlertIcon" class="fas fa-exclamation-circle"></i>
                    <span id="modalAlertTitle"></span>
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modalAlertMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modalCloseButton">Close</button>
            </div>
        </div>
    </div>
</div>
