.header-user {
  margin-left: 5px !important;

  i {
    font-size: 24px;
  }
}

.sign-in-block {
  width: 380px;
  margin: 80px auto 50px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  border-radius: 10px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }

  p.forgot-password {
    padding-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .sign-in-block {
    width: auto;
  }
}

.register-block {
  width: 380px;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  border-radius: 10px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }

  p.terms {
    padding-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .register-block {
    width: auto;
  }
}

.request-reset-block {
  width: 380px;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  border-radius: 10px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .request-reset-block {
    width: auto;
  }
}

.reset-password-block {
  width: 380px;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.07);
  border-radius: 10px;

  h3 {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .reset-password-block {
    width: auto;
  }
}