@use "../settings/baseColors";
@use "../settings/breakpoints";
@use "../tools/mixins/mediaQueriesRanges";

// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Page Container
// + @Main Content
// + @Full Container
// + @Collapsed State

// ---------------------------------------------------------
// @Page Container
// ---------------------------------------------------------

.page-container {
  min-height: 100vh;
  padding-left: baseColors.$offscreen-size;
  transition: all 0.2s ease;

  @include mediaQueriesRanges.between(breakpoints.$breakpoint-md, breakpoints.$breakpoint-xl) {
    padding-left: baseColors.$collapsed-size;
  }

  @include mediaQueriesRanges.to(breakpoints.$breakpoint-md) {
    padding-left: 0;
  }
}

// ---------------------------------------------------------
// @Main Content
// ---------------------------------------------------------

.main-content {
  padding: 85px 20px 20px;
  min-height: calc(100vh - 61px);

  @include mediaQueriesRanges.to(breakpoints.$breakpoint-md) {
    padding: 85px 5px 5px;
  }
}

.remain-height {
  height: calc(100vh - 126px);
}

// ---------------------------------------------------------
// @Full Container
// ---------------------------------------------------------

.full-container {
  left: baseColors.$offscreen-size;
  min-height: calc(100vh - #{baseColors.$header-height});
  position: absolute;
  right: 0;
  top: baseColors.$header-height;
  transition: all 0.2s ease;

  @include mediaQueriesRanges.between(breakpoints.$breakpoint-md, breakpoints.$breakpoint-xl) {
    left: 0;
    padding-left: baseColors.$collapsed-size;
  }

  @include mediaQueriesRanges.to(breakpoints.$breakpoint-md) {
    left: 0;
  }
}

// ---------------------------------------------------------
// @Collapsed State
// ---------------------------------------------------------

.is-collapsed {
  .page-container {
    padding-left: baseColors.$collapsed-size;

    @include mediaQueriesRanges.to(breakpoints.$breakpoint-md) {
      padding-left: 0;
    }

    @include mediaQueriesRanges.between(breakpoints.$breakpoint-md, breakpoints.$breakpoint-xl) {
      padding-left: baseColors.$offscreen-size;
    }
  }

  .full-container {
    left: baseColors.$collapsed-size;

    @include mediaQueriesRanges.to(breakpoints.$breakpoint-md) {
      left: 0;
    }

    @include mediaQueriesRanges.between(breakpoints.$breakpoint-md, breakpoints.$breakpoint-xl) {
      left: baseColors.$offscreen-size;
      padding-left: 0;
    }
  }
}
