{% extends '@layout/default.html.twig' %}

{% block title %}Admin logins{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30">Admin logins</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <table data-toggle="table" data-url="/admin/list-logins" data-click-to-select="false"
                           data-mobile-responsive="true" data-min-width="800" data-check-on-init="true" data-id-field="uuid"
                           data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                           data-search="false" data-pagination="true" data-toolbar="#tableToolbar"
                           data-silent-sort="false" data-pagination-loop="false" data-side-pagination="server"
                           data-page-list="[10, 30, 50, 100, 200]" data-page-size="30" data-single-select="true"
                           data-sort-name="created" data-sort-order="desc" data-identifier="table_admin_list_logins_selected_columns" id="bsTable">
                        <thead>

                        <tr>
                            <th data-field="identity" data-sortable="true">Identity</th>
                            <th data-field="adminIp" data-sortable="true">Ip</th>
                            <th data-field="loginStatus" data-sortable="true">Status</th>
                            <th data-field="country" data-sortable="true">Country</th>
                            <th data-field="continent" data-sortable="true">Continent</th>
                            <th data-field="organization" data-sortable="true">Organization</th>
                            <th data-field="deviceType" data-sortable="true">Device Type</th>
                            <th data-field="deviceBrand" data-sortable="true">Device Brand</th>
                            <th data-field="deviceModel" data-sortable="true">Device Model</th>
                            <th data-field="isMobile" data-sortable="true">Is Mobile</th>
                            <th data-field="osName" data-sortable="true">Os Name</th>
                            <th data-field="osVersion" data-sortable="true">Os Version</th>
                            <th data-field="osPlatform" data-sortable="true">Os Platform</th>
                            <th data-field="clientType" data-sortable="true">Client Type</th>
                            <th data-field="clientName" data-sortable="true">Client Name</th>
                            <th data-field="clientEngine" data-sortable="true">Client Engine</th>
                            <th data-field="clientVersion" data-sortable="true">Client Version</th>
                            <th data-field="created" data-sortable="true">Created</th>
                        </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
