{% extends '@layout/default.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->

    {{ messagesPartial('partial::alerts', {dismissible: true}) }}

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card card-blue">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-3 widget-left">
                        <i class="fa fa-shopping-bag fa-3x"></i>
                    </div>
                    <div class="col-lg-7 col-md-9 widget-right">
                        <div class="large">120</div>
                        <div class="text-muted">New Orders</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card card-orange">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-3 widget-left">
                        <i class="fa fa-comments fa-3x"></i>
                    </div>
                    <div class="col-lg-7 col-md-9 widget-right">
                        <div class="large">52</div>
                        <div class="text-muted">Comments</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card card-teal">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-3 widget-left">
                        <i class="fa fa-user-plus fa-3x"></i>
                    </div>
                    <div class="col-lg-7 col-md-9 widget-right">
                        <div class="large">24</div>
                        <div class="text-muted">New Users</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <div class="card card-red">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-3 widget-left">
                        <i class="fa fa-eye fa-3x"></i>
                    </div>
                    <div class="col-lg-7 col-md-9 widget-right">
                        <div class="large">25.2k</div>
                        <div class="text-muted">Page Views</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Site Traffic Overview</div>
                <div class="card-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-xl-3 col-6">
            <div class="card">
                <div class="card-body easypiechart-panel">
                    <h4>New Orders</h4>
                    <div class="easypiechart" id="easypiechart-blue" data-percent="92"><span class="percent">92%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-6">
            <div class="card">
                <div class="card-body easypiechart-panel">
                    <h4>Comments</h4>
                    <div class="easypiechart" id="easypiechart-orange" data-percent="65"><span
                                class="percent">65%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-6">
            <div class="card">
                <div class="card-body easypiechart-panel">
                    <h4>New Users</h4>
                    <div class="easypiechart" id="easypiechart-teal" data-percent="56"><span class="percent">56%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-6">
            <div class="card">
                <div class="card-body easypiechart-panel">
                    <h4>Visitors</h4>
                    <div class="easypiechart" id="easypiechart-red" data-percent="27"><span class="percent">27%</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-8">
            {% include '@partial/dashboard-chat.html.twig' %}
        </div><!--/.col-->

        <div class="col-lg-4">
            {% include '@partial/dashboard-todo.html.twig' %}
        </div><!--/.col-->
    </div><!--/.row-->
{% endblock %}
