<div class="modal fade" tabindex="-1" role="dialog" id="modalAlert" aria-labelledby="modalAlert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    <h3 class="modal-title">
                        <i id="modalAlertIcon" class="fa alert-icon"></i>
                        <span id="modalAlertTitle"></span>
                    </h3>
            </div>
            <div class="modal-body">
                    <div id="modalAlertMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalCloseButton">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="loading" aria-labelledby="loading">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <table>
                    <tr>
                        <td><i class="fa fa-spinner fa-3x"></i></td>
                        <td style="font-size: 22px; padding-left: 20px;">Loading...</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>