{% extends '@layout/default.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4 forms">
            <h1>Sign in</h1>
            <div class="form-content">

                {{ messagesPartial('partial::alerts') }}
                {% include '@dot-user-form/login.html.twig' %}

            </div>
        </div>
    </div>

{% endblock %}
