<?php

return [
    //zend-db database adapters
    'db' => [
        'adapters' => [
            'database' => [
                'driver' => 'Pdo_Mysql',
                'hostname' => 'localhost',
                'database' => '',
                'username' => '',
                'password' => '',
                'charset' => 'utf8'
            ]
        ]
    ],

    'dot_mail' => [
        'default' => [
            'smtp_options' => [
                'connection_config' => [
                    'username' => '',
                    'password' => ''
                ]
            ]
        ]
    ],
];
