<?php

/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

use Doctrine\Common\Cache\PhpFileCache;

$baseUrl = 'http://localhost:8080';

$databases = [
    'default' => [
        'host' => 'localhost',
        'dbname' => '',
        'user' => '',
        'password' => '',
        'port' => 3306,
        'driver' => 'pdo_mysql',
        'charset' => 'utf8mb4',
        'collate' => 'utf8mb4_general_ci'
    ]
    // you can add more database connections into this array
];

return [
    'annotations_cache_dir' => getcwd() . '/data/cache/annotations',
    'application' => [
        'name' => $app['name'],
        'url' => $baseUrl
    ],
    'databases' => $databases,
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => $databases['default']
            ]
        ],
        'configuration' => [
            'orm_default' => [
                // it is recommended to disable doctrine cache on development
                // just comment any type of cache you don't want to be applied on development
                'query_cache' => PhpFileCache::class,
                'metadata_cache' => PhpFileCache::class,
                'result_cache' => PhpFileCache::class
            ]
        ],
    ],
];
